*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Open Sans', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
    position: relative;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid #4e191e;
    width: 100vw;
    padding: 0 5vw;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.logo-txt{
    color: #4e191e;
}

.menu-btn{
    background: url(./img/menu.svg);
    width: 30px;
    height: 30px;
    border: none;
    background-size: cover;
}

.menu-btn:hover{
    border: 2px solid #fac629;
    border-radius: 5px;
}

img{
    width: 80px;
    height: 80px;
    padding: 0.5rem;
}

.container{
    display: flex;
    padding: 5vw 0;
    width: 100%;
    max-width: 1000px;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.card{
    border-radius: 8px;
    height: 220px;
    width: 270px;
    font-size: 18px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 10px;
    background-color: #fac629;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5);
}

.card .title{
    font-size: 23px;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 15px;
    text-decoration: underline;
    text-align: center;
}

.card .author{
    font-size: 20px;
    font-weight: 500;
}

.card .delete{
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 5px;
    right: 5px;
    background: url(./img/delete.svg);
    background-size: cover;
    border: none;
}

.card .status{
    display: flex;
    align-items: center;
    gap: 10px;
}

.card #checkbox{
    width: 15px;
    height: 15px;
}

.new-book{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: #4e191e;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 5vh;
    right: 5vh;
    background: #fac629;
    border: none;
    border-radius: 50%;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5);
    transition: box-shadow 100ms ease;
}

.new-book:hover{
    background: #ebb000;
}

.new-book:active{
    box-shadow: none;
}

.modal{
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
}

.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0);
    opacity: 0.7;
    z-index: 1;
    display: none;
}

.popup{
    display: flex;
    flex-direction: column;
    width: 420px;
    min-height: 420px;
    justify-content: center;
    align-items: center;
    background: #fac629;
    position: fixed;
    top: 25vh;
    z-index: 2;
    border-radius: 20px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5);
    gap: 20px;
    font-size: 22px;
    transform: scale(0);
    transition: transform 100ms ease-in;
}

.popup.active{
    transform: scale(1);
}
.overlay.active{
    display: flex;
}

.read-status{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#read-status{
    width: 16px;
    height: 16px;
}

.popup input{
    background-color: white;
    font-size: 22px;
    padding: 8px;
    height: 50px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
}

.popup .submit{
    background: none;
    border: 2px solid #4e191e;
    font-size: 18px;
    font-weight: 500;
    padding: 8px;
    border-radius: 20px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
    transition: box-shadow 100ms ease;
}

.popup .submit:hover{
    background: #ffbf00;
}

.popup .submit:active{
    box-shadow: none;
}

.empty-msg{
    background: url(./img/add.svg);
    width: 50vw;
    height: 50vw;
    max-width: 500px;
    max-height: 500px;
    background-size: cover;
    opacity: 0.08;
    position: absolute;
    top: 25vh;
    border-radius: 50%;
}

.menu{
    background-color: #ffbf00;
    min-width: 400px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 3%;
    border-bottom-left-radius: 3%;
    z-index: 2;
    transform: translateX(100%);
    transition: transform 100ms ease-in;
}

.menu .heading{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 32px;
    color: #4e191e;
    border-bottom: 3px solid #4e191e;
    padding: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#menu-close{
    background: url(./img/close.svg);
    width: 20px;
    height: 20px;
    background-size: cover;
    border: 1px solid;
    border-radius: 20%;
    position: absolute;
    left: 15px;
    cursor: pointer;
}

.menu-top{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu-bottom{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 12px;
}

#clear-lib{
    font-size: 22px;
    background: #FE8A7E;
    border: none;
    border-radius: 8px;
    padding: 8px;
    transition: font-size 100ms ease-out;
    cursor: pointer;
}

#clear-lib:hover{
    font-size: 24px;
    background: red;
}

.menu-body{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding: 12px;
    gap: 8px;
}

.menu-footer{
    font-size: 18px;
}

.menu-footer a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.menu-footer a:hover{
    color: blue;
}

.menu.active{
    transform: translateX(0%);
}

@media only screen and (max-width: 500px){
    .empty-msg{
        top: 40vh;
    }
    .menu{
        min-width: 80vw;
    }
    .popup{
        width: 330px;
    }
    #menu-close{
        left: 5px;
    }
}